@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@1&display=swap');

$backgroundColor: rgba(65, 108, 200, 0.35);
$mainTopMargin: 10vh;
$TelegramColor: #3b7ec1;
$GitHubColor: #18278e;
$SpotifyColor:#067672;


*{
  margin: 0;
  padding: 0;
  width: 100%;
}

body{
  background: url("../content/back.jpg") fixed center center / cover no-repeat;
}

.container{
  align-content: center;
  height: 100vh - $mainTopMargin;
  font-family: 'Tiro Bangla', serif;

  #main {
    margin: $mainTopMargin auto;
    text-align: center;
    width: 33.3333%;
    background: $backgroundColor;
    box-shadow: 0 5px 10px 10px $backgroundColor ;

    #main__name{
      height: 15vh;
      display: flex;
      align-items: center;
      font-size: 400%;
      color: white;

      &:hover{
        font-size: 440%;
      }

      .main__letter{
        transition-duration: 300ms;

        &:hover{
          font-size: 150%;
          transition-duration: 750ms;
        }
      }
    }

    .main__title{

      .main__txt{
        font-size: 330%;
        color: white;
      }
    }
    #main__social{
      text-decoration: none;
      font-size: 300%;

      div{
        margin: 7% auto;
      }

      a{
        color: lightgray;
        text-decoration: none;
      }
      letter-spacing: 0.1em;
      width: 70%;
      margin: 0 auto;

      .main__telegram{
        background: $TelegramColor;
      }

      .main__github{
        background: $GitHubColor;
      }

      .main__spotify{
        background: $SpotifyColor;
      }
    }
  }
}

.t1{
  position: absolute;
  left: 10px;
  top: 10px;
}